{{ if gallery_images }}
  <section class="w-full mx-auto px-20 py-12">
      <div class="lg:w-1/2 w-full mb-6 lg:mb-5">
        <h1 class="sm:text-3xl lg:text-4xl md:text-4xl  font-medium title-font mb-2 text-gray-900">Portfolio
        </h1>
        <div class="h-1 w-20 bg-brandPink rounded"></div>
      </div>

    <div class="grid grid-cols-2 sm:grid-cols-4 lg:grid-cols-4 gap-6">
      {{ gallery_images sort="random" }}
        <a 
          href="{{ url }}" 
          data-fancybox="gallery" 
          data-caption="{{ alt ?? 'Gallery image' }}"
          class="block aspect-[4/3] overflow-hidden rounded-lg shadow-md"
        >
          <img 
            src="{{ url }}" 
            alt="{{ alt ?? 'Gallery image' }}" 
            class="w-full h-full object-cover hover:scale-105 transition duration-300"
          />
        </a>
      {{ /gallery_images }}
    </div>
  </section>
{{ /if }}
