<div class="h-screen flex pt-8 pb-0 pl-5 pr-5 justify-center bg-[repeating-linear-gradient(90deg,#4a4a4a,#f9dcdc_9px,#e8bcbc_9px,#e8bcbc_10px,#fce6e6_10px,#fce6e6_19px,#e8bcbc_19px,#e8bcbc_20px)]">
  <div>    
    <!-- Avatar -->
    <div class="relative z-10">
      <img src="{{ avatar }}" alt="{{ myname }}" class="w-64 h-64 mx-auto rounded-full border-4 border-white shadow-md" />
    </div>

    <!-- Name & Title -->
    <div class="relative border-4 border-brandPink shadow-md z-10 mt-4 p-6 absolute inset-0 bg-brandPink rounded-3xl">
      <h2 class="text-pink-800 font-semibold text-lg">{{ myName }}</h2>
      <p class="text-pink-600 text-sm">{{ jobTitle }}</p>
    </div>

    <!-- Icon Buttons -->
    <div class="relative z-10 flex justify-center gap-4 mt-5">
      <a href="{{ link1:url }}" class="w-10 h-10 flex  icon-hover items-center justify-center rounded-full bg-white shadow">
<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50">
  <circle cx="25" cy="25" r="25" fill="#DC9EAB" />
  <path
    d="M39,17h-3c-2.145,0-3,0.504-3,2v3h6l-1,6h-5v20h-7V28h-3v-6h3v-3c0-4.677,1.581-8,7-8c2.902,0,6,1,6,1V17z"
    fill="#ffffff"
  />
</svg>

      </a>
      <a href="{{ link2 }}" class="w-10 h-10 flex icon-hover items-center justify-center rounded-full bg-white shadow">
<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50">
  <circle cx="25" cy="25" r="25" fill="#DC9EAB" />
  <path
    d="M15 20h5v15h-5V20zm2.5-7.5C15.6 12.5 15 13.3 15 14.2s.6 1.7 2 1.7c1.4 0 2-.8 2-1.7s-.6-1.7-2-1.7zm7.5 7.5h4.8v2h.1c.6-1.1 2-2.2 4.1-2.2 4.4 0 5.2 2.9 5.2 6.7V35h-5v-7.5c0-1.8 0-4.1-2.5-4.1s-2.9 2-2.9 4V35h-5V20z"
    fill="#ffffff"
  />
</svg>
      </a>
      <a href="{{ link3 }}" class="w-10 h-10 flex icon-hover items-center justify-center rounded-full bg-white shadow">
<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50">
  <circle cx="25" cy="25" r="25" fill="#DC9EAB" />
  <path
    d="M10 18c0-1.1.9-2 2-2h26c1.1 0 2 .9 2 2v14c0 1.1-.9 2-2 2H12c-1.1 0-2-.9-2-2V18zm2.5 0l12.5 9 12.5-9H12.5z"
    fill="#ffffff"
  />
</svg>

      </a>
    </div>

    <!-- Bottom Button/Tag -->
    <div class="relative border-4 border-brandPink shadow-md z-10 mt-4 p-6 absolute inset-0 bg-white rounded-3xl">
      <button>
        {{ bottom_text }}
      </button>
    </div>

  </div>
</div>
