<header class="bg-white shadow-sm">
  <div class="flex items-center justify-between px-4 py-3 sm:px-6 lg:px-8">
    
    <!-- Logo -->
    <a href="{{ homepage }}" class="block w-30">
      <span class="sr-only">Home</span>
      {{ site_logo:logo }}
        <img
          src="{{ url }}"
          alt="Site Logo"
          class="w-full h-auto object-contain"
        >
      {{ /site_logo:logo }}
    </a>

    <!-- Navigation -->
    <nav class="hidden space-x-6 text-sm font-semibold uppercase text-gray-700 sm:flex">
      {{ nav:main }}
        <a
          href="{{ url }}"
          class="hover:text-brandPink transition  hover:underline-offset-8 hover:underline
 {{ if is_current }}text-brandPink font-bold underline-offset-8{{ /if }}"
        >
          {{ title }}
        </a>
      {{ /nav:main }}
    </nav>

    <!-- Contact Button -->
    <div class="shrink-0">
      <a
        href="#"
        class="rounded-full bg-brandPink px-5 py-2 text-sm font-semibold text-white hover:bg-twoPink hover:text-darkPink transition"
      >
        Contact Me
      </a>
    </div>

  </div>
</header>
