<section id="portfolio" class="text-gray-600 body-font">
  <div class="px-20 py-24 mx-auto flex flex-wrap">
    <div class="flex w-full mb-20 flex-wrap">
            <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
        <h1 class="sm:text-3xl lg:text-4xl md:text-4xl  font-medium title-font mb-2 text-gray-900">Portfolio</h1>
        <div class="h-1 w-20 bg-brandPink rounded"></div>
      </div>
      <p class=" lg:pt-10 lg:w-full mx-auto leading-relaxed text-base">Check out some of the work I have done.</p>
    </div>
    <div class="flex flex-wrap md:-m-2 -m-1">
      <div class="flex flex-wrap w-1/2">
        <div class="md:p-2 p-1 w-1/2">
          <img alt="gallery" class="w-full object-cover h-full object-center block" src="{{preview_pic_1}}">
        </div>
        <div class="md:p-2 p-1 w-1/2">
          <img alt="gallery" class="w-full object-cover h-full object-center block" src="{{preview_pic_2}}">
        </div>
        <div class="md:p-2 p-1 w-full">
          <img alt="gallery" class="w-full h-full object-cover object-center block" src="{{preview_pic_3}}">
        </div>
      </div>
      <div class="flex flex-wrap w-1/2">
        <div class="md:p-2 p-1 w-full">
          <img alt="gallery" class="w-full h-full object-cover object-center block" src="{{preview_pic_4}}">
        </div>
        <div class="md:p-2 p-1 w-1/2">
          <img alt="gallery" class="w-full object-cover h-full object-center block" src="{{preview_pic_5}}">
        </div>
        <div class="md:p-2 p-1 w-1/2">
          <img alt="gallery" class="w-full object-cover h-full object-center block" src="{{preview_pic_6}}">
        </div>
      </div>
    </div>
<a class="flex mx-auto mt-16 text-white bg-brandPink border-0 py-2 px-8 focus:outline-none hover:bg-twoPink hover:text-darkPink rounded text-lg" href=" {{ link to="gallery" }}">
        <button>View Gallery</button>
</a>
  </div>
</section>