<div class="md:h-screen lg:h-screen  bg-hero-right bg-cover ">
<div class=" lg:pl19 flex justify-center items-center min-h-screen">
  <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col lg:pl-10 md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
    <h1 class="z-10 title-font sm:text-4xl text-5xl mb-4 font-medium text-brandPink">
     {{herotext1}}<br class="hidden lg:inline-block"> {{herotext2}}
    </h1>
    <p class="mb-8 leading-relaxed text-white">
      {{heropara}}
    <div class="flex justify-center">
     <a href="#footer">
      <button class="inline-flex text-white hover:text-black bg-brandPink border-0 py-2 px-6 focus:outline-none hover:bg-twoPink rounded text-lg">
        Book An Appointment
      </button>
      </a>
      <a href="{{portfolio}}">
              <button class="ml-4 inline-flex text-gray-700 bg-gray-100 border-0 py-2 px-6 focus:outline-none hover:bg-gray-200 rounded text-lg">
        View My Portfolio
      </button>
      </a>
    </div>
  </div>
</div>

</div>
