@import "tailwindcss";
@plugin "@tailwindcss/typography";
@source "../views";
@source "../../content";

@theme {
  --color-brandPink: #dc9eab;
  --hero-right: url('/assets/darkfeather.jpg');
  --color-twoPink:#fce6e6;
  --color-darkPink:#A3004C;
  --breakpoint-md-lg: 991px;
  --breakpoint-1lg: 1200px;
    /* ... */
}

#scrollTopBtn {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 1000;
  font-size: 18px;
  border: none;
  border-radius: 100%;
  padding: 8px 16px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

#scrollTopBtn.show {
  opacity: 1;
  pointer-events: auto;
}

html {
  scroll-behavior: smooth;
}

.bg-hero-right {
  background-image: var(--hero-right);

}


.icon-hover:hover circle 
{
  fill:#fce6e6;
}

.icon-hover:hover path
{
  fill:#A3004C;
}